<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Samsung.GalaxyS10.officeTest"/>
      <!-- <class name="Samsung.GalaxyS10.windowsTest"/> -->
      <class name="Samsung.GalaxyS10.xBoxTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
